{% extends 'layouts/_main.twig' %}

{% import 'partials/core/modules-importer.twig' as modules %}
{% import 'partials/core/components-importer.twig' as component %}
{% import 'partials/components/pagination.twig' as pagination  %}

{% set pageType = 'orders' %}

{% block content %}

	Yolo
	
	<p>{{ title }}</p>
	
	<p>{{ msg }}</p>
	
	<p>{{ data|json_encode }}</p>

{% endblock %}
