.category-list{
    margin-bottom: rem-calc(64px);

    @include breakpoint(medium) {
        margin-bottom: rem-calc(72px);
    }

    &__item{
        margin-bottom: rem-calc(56px);

        @include breakpoint(medium) {
            margin-bottom: rem-calc(48px);
        }
    }

    &__image{
        display: block;
        line-height: 0;
    }

    &__content{
        padding: rem-calc(25px);
        padding-bottom: rem-calc(35px);

        @include breakpoint(medium) {
            padding: rem-calc(25px 20px 35px);
        }

        @include breakpoint(large) {
            padding: rem-calc(25px);
        }
    }

    &__title{
        margin-bottom: rem-calc(20px);
        line-height: rem-calc(20px);

        @include breakpoint(large) {
            line-height: rem-calc(25px);
        }
    }

    &__body{
        line-height: rem-calc(24px);
    }
}
