$buttonHeight: rem-calc(50px);
$anchorRightPadding: 42px;
$spacing: -( $buttonHeight / 2 );

.filters {
    $c: &;

    &.filters--open{
        transform: none !important;
    }

    .search-header ~ & {
        margin-bottom: rem-calc(38px);

        @include breakpoint(medium) {
            margin-bottom: rem-calc(28px);
        }

        @include breakpoint(large) {
            margin-bottom: rem-calc(36px);
        }
    }

    &--press-releases-news {
        margin-bottom: rem-calc(62px);
        transform: translateY($spacing) !important;

        @include breakpoint(medium) {
            margin-bottom: rem-calc(120px);
        }
    }

    &--events {
        margin-bottom: rem-calc(48px);

        @include breakpoint(medium) {
            margin-bottom: rem-calc(26px);
        }

        @include breakpoint(large) {
            margin-bottom: rem-calc(46px);
        }
    }

    @include breakpoint(medium) {
        transform: translateY($spacing) !important;
        &.filters--open{
            transform: translateY($spacing) !important;
        }
    }

    &__top{
        @include breakpoint(small only) {
            padding: 0 !important;
        }
    }

    &__button {
        width: rem-calc(107px);
        height: $buttonHeight;
        border-radius: 0;
        border: rem-calc(3px) solid get-color('black');
        padding: 0;
        font-size: rem-calc(14px);
        line-height: rem-calc(18px);
        text-transform: uppercase;
        letter-spacing: rem-calc(1px);
        position: relative;
        z-index: auto;
        margin-bottom: rem-calc(30px);

        .filters--press-releases-news & {
            width: rem-calc(165px);
        }

        #{$c}--tabbed & {
            margin-bottom: rem-calc(28px);
        }

        &#{&}--open {
            background-color: get-color('white');
            color: get-color('black');
            text-indent: rem-calc(-9999px);
        }
    }

    &__button-close {
        display: none;

        #{$c}--open & {
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            text-indent: 0;
        }
    }

    &__tags {
        overflow: hidden;
        height: 0px;
        padding-bottom: 0;

        @include breakpoint(small only) {
            // display: none;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh !important;
            background-color: get-color('white');
            z-index: 1000;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            transform: translateY(-999rem);

            #{$c}--open &{
                top: 0;
                transform: translateY(0);
                // display: block;
            }
        }

        @include breakpoint(medium) {

            .filters--open &{
                padding-bottom: rem-calc(65px);
            }

            // .filters--filtered &{
            //     padding-bottom: rem-calc(14px)
            // }
        }
    }

    &__items{
        @include xy-grid($direction: 'vertical', $wrap: true);

        @include breakpoint(small only) {
            $gutter: map-get($grid-container-padding, 'small');
            padding: 0 rem-calc($gutter/2);

            #{$c}--tabbed & {
                display: none;
            }
        }
    }

    &__item{
        width: xy-cell-size(12);
        line-height: 1;

        @include breakpoint(medium) {
            width: xy-cell-size(4);
        }

        @include breakpoint(large) {
            width: xy-cell-size(3);
        }
    }

    &__anchor{
        $leftPadding: rem-calc(8px);
        display: inline-block;
        padding: rem-calc(10px) 0;
        line-height: rem-calc(17px);
        text-transform: capitalize;
        position: relative;
        padding-right: rem-calc($anchorRightPadding);
        margin-left: -$leftPadding;
        padding-left: $leftPadding;

        @include breakpoint(medium) {
            $leftPadding: rem-calc(16px);
            margin-left: -$leftPadding;
            padding-left: $leftPadding;
        }

        &--inactive{
            color: get-color('gray4');
            pointer-events: none;
        }

        &--active{
            background-color: get-color('black');
            color: get-color('white');
        }

        &:not(&--active):not(&--inactive):hover {
            background-color: get-color('gray4');
        }
    }

    &__cross{
        position: absolute;
        top: 0;
        bottom: 0;
        right: rem-calc($anchorRightPadding - 24px);
        margin: auto;
        display: inline-block;
        vertical-align: middle;
        width: rem-calc(10px);
        height: rem-calc(14px);

        .filters__anchor:not(.filters__anchor--active) &{
            display: none;
        }
    }

    &__clear{
        @include breakpoint(small only) {
            position: absolute;
            top: rem-calc(86px);
            right: rem-calc(24px);
        }

        .filters--filtered &{
            padding-bottom: rem-calc(14px)
        }
    }

    &__clear-anchor {
        &--active {
            pointer-events: none;
        }
    }

    &__refinements {
        @include flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__refine-box {
        border-bottom: rem-calc(3px) solid get-color('gray4');
        padding-bottom: rem-calc(28px);
        margin-bottom: rem-calc(25px);
    }

    &__refine-item {
        margin-left: rem-calc(24px);
    }

    &__refine-link {
        color: get-color('gray2');

        &:focus {
            outline: none;
        }

        &:hover,
        #{$c}__refine-item--active & {
            color: get-color('black');
            border-bottom: rem-calc(3px) solid get-color('black');
        }
    }

    &__refine-content {
        @include breakpoint(medium) {
            display: none;

        }

        &--active {
            display: block;
        }
    }

    &__accordion-toggle {
        $gutter: map-get($grid-container-padding, 'small');
        @include get-font-weight("bold");
        display: block;
        font-size: rem-calc(18px);
        padding: 0 rem-calc($gutter/2);
        color: get-color('black');
        margin-bottom: rem-calc(18px);

        + #{$c}__items {
            @include breakpoint(small only) {
                margin-bottom: rem-calc(50px);
            }
        }
    }

    &__accordion-arrow {
        display: inline-block;
        vertical-align: bottom;
        transform: rotate(180deg);
        margin-right: rem-calc(15px);
    }

    &__border {
        $margin: map-get($grid-gutter, 'medium');
        $margin: $margin / 2;
        opacity: 0;
        margin-left: rem-calc($margin);
        margin-right: rem-calc($margin);
        border-bottom: rem-calc(3px) solid;

        @include breakpoint(large) {
            $margin: map-get($grid-gutter, 'large');
            $margin: $margin / 2;
            margin-left: rem-calc($margin);
            margin-right: rem-calc($margin);
        }

        #{$c}--open & {
            opacity: 1;
        }
    }
}

.filters-mob{
    $c: &;
    $f: '.filters';
    $padding: map-get($grid-container-padding, 'small');
    $gutter: map-get($grid-gutter, 'small');
    margin: 0 rem-calc(-($gutter/2));

    &__top{
        padding: 0 rem-calc($padding/2);
        height: rem-calc(50px);
        margin-bottom: rem-calc(32px);
        letter-spacing: rem-calc(1px);
        cursor: pointer;

        polyline{
            stroke: get-color('white');
        }
    }

    &__arrow{
        margin-right: rem-calc(15px);
    }

    &__header{
        margin: 0 rem-calc($padding/2);
        border-bottom: rem-calc(3px) solid;
        padding-bottom: rem-calc(16px);
        margin-bottom: rem-calc(40px);

        #{$f}--tabbed & {
            margin-bottom: rem-calc(32px);
        }
    }
}
