.shop-view-toggle {
    margin-bottom: rem-calc(55px);

    .shop-results-filter & {
        width: auto;
    }

    .ui-nav-icon {
        width: rem-calc(40px);
        height: rem-calc(40px);
    }
}
