{% macro main(params,requestCache) %}
    <div class="account-register-form {{ params.class }}">
    
	    <div class="grid-container" data-js-hook="grid-container">
	        
		    <div class="content">
		    	<section class="form">
		    	
		    		<form>
		    	
			    		<h1 class="u-style-weight-bold">{{ params.title }}</h1>
			    	
			    	</form>
			    	
			    </section>
		    
		    </div>
		
		</div>
		
    </div>
    
{% endmacro %}
