{% macro main(text,requestCache) %}
    <div class="home-subpage-header" data-js-hook="ui-scroll-reveal-animation">
        <div class="home-subpage-header__wrapper grid-x grid-margin-x align-center align-middle">
            <div class="home-subpage-header__text cell small-12 large-8 text-center u-style-display-xl u-style-weight-bold" data-js-hook="home-subpage-header-text">{{ text }}</div>
        </div>
    </div>
{% endmacro %}
