{% macro main(params,requestCache) %}
    <div class="order-history-list {{ params.class }}">
    
    
    {{ params|json_encode() }}
    
    {% set jsonArray = params|json_encode() %}
    
    <hr>
    
    {{ dump.jsonArray }}
    
    {% for order in params.json.orders %}
    
    	<h3>x{{ order.created }} </h3>
    
    {% endfor %}
 
    	<!-- TABS -->
    	<ul class="tabs u-style-text-left" data-tabs id="order-tabs">
		  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Open Orders</a></li>
		  <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Closed Orders</a></li>
		</ul>
    
    
		<!-- CONTENT -->
		<div class="tabs-content" data-tabs-content="order-tabs">
		  <div class="tabs-panel is-active" id="panel1">
  
		    <table id="orders-open" class="display unstriped">
		        <thead>
		            <tr>
		                <th class="sortable"><a href="#">Date</a></th>
		                <th class="sortable"><a href="#">Purchase Order</a></th>
		                <th class="sortable"><a href="#">Order Number</a></th>
		                <th>Ship To Address</th>
		                <th class="sortable"><a href="#">Order Status</a></th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		                <td>02/16/2018</td>
		                <td><a href="#">20173589</a></td>
		                <td><a href="/orders/0095052068">0095052068</a></td>
		                <td class="address">
		                	c/ o Jane Smith<br>
		                	Acme Warehouse</br>
		                	3201 Broad St<br>
		                	Philadelphia, PA 19127-1603
		                	<div>
		                		<span data-tooltip xdata-tooltip-class="tooltip-2" class="top" tabindex="2" title="You see?  I'm open!">Shipping Instructions</span>
		                	</div>
		                
		                </td>
		                <td>Open</td>
		            </tr>
		            <tr>
		                <td>02/16/2018</td>
		                <td><a href="#">20173589</a></td>
		                <td><a href="/orders/0095052068">0095052068</a></td>
		                <td class="address">
		                	c/o Arthur Goodwin<br>
							Abraham Friedman Center<br>
							1646 Olive St<br>
							Philadelphia, PA 19127-1603
							
							<div>
								<span data-tooltip data-click-open="false" title="Please deliver during business hours only.  Request for delivery date 3/28">Shipping Instructions</span>
							</div>
						
						</td>
		                <td>Open</td>
		            </tr>
		            		            
		        </tbody>
		    </table>
		  </div>
		  
		  
		  <div class="tabs-panel" id="panel2">
		  		
		  		<table id="orders-open" class="display unstriped">
			        <thead>
			            <tr>
			                <th class="sortable"><a href="#">Date</a></th>
			                <th class="sortable"><a href="#">Purchase Order</a></th>
			                <th class="sortable"><a href="#">Order Number</a></th>
			                <th>Ship To Address</th>
			                <th class="sortable"><a href="#">Order Status</a></th>
			            </tr>
			        </thead>
			        <tbody>
			        	
			        	
			        	
			        	
			        	<tr>
			                <td>02/16/2017</td>
			                <td><a href="#">41284670</a></td>
			                <td><a href="/orders/0095052068">0095052068</a></td>
			                <td class="address">
			                	c/o Robert Friedman<br>
								Aggeler Opp Senior HS<br>
								21050 Plummer St<br>
								Philadelphia, PA 19127-1603
							
								<span data-tooltip data-click-open="false" title="Please deliver during business hours only.  Request for delivery date 3/28">Shipping Instructions</span>
								
							</td>
			                <td>Fulfilled</td>
			            </tr>
			            
			            
			        </tbody>
			    </table>
			    
		  </div>
		</div>
    
    
    </div>
{% endmacro %}
